@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

//neutral-colors
$off-white: hsl(36, 100%, 99%);
$grayish-blue: rgb(197, 198, 206);
$dark-grayish-blue: rgb(93, 95, 121);
$very-dark-blue: rgb(0, 0, 26);

//primary-colors
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  font-size: 1rem;
  width: 100%;
  padding-inline: 1.5em;
  background-color: hsl(36, 100%, 99%);
  padding-bottom: 5em;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    margin-bottom: 2.2em;
    overflow: hidden;

    nav {
      position: fixed;
      right: 0;
      top: 0;
      background: white;
      box-shadow: rgba(0, 0, 20, 0.5) -230px 0;
      height: 100vh;
      width: 65%;
      z-index: 999;
      transform: translateX(300%);
      transition: transform .5s ease-in-out; 

      svg {
        float: right;
        margin: 2em 1em;
        cursor: pointer;
      }

      ul {
        margin-top: 10em;
      }
      
      li {
        list-style-type: none;

        a {
          text-decoration: none;
          display: block;
          color: black;
          font-size: 1.3rem;
          padding: .8125em 1.5em;
          transition: background 0.15s;
          cursor: pointer;

          &:hover {
            background: #ebebeb;
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
  height: fit-content;
  padding-bottom: 5rem;

  .top-section {
    
    .image-section {
      width: 100%;
      background-image: url('assets/images/image-web-3-mobile.jpg');
      background-size: cover;
      background-position: center;
      margin-bottom: 1.25em;
      height: 22em;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .title {
        font-size: 3rem;
        font-weight: 800;
        line-height: 1em;
      }

      .sub-title {
        p {
          color: $dark-grayish-blue;
          line-height: 1.7rem;
          margin-bottom: 1.5em;
        }

        button {
          border: none;
          color: $off-white;
          font-family: inherit;
          width: 12rem;
          height: 3rem;
          letter-spacing: 0.4em;
          font-weight: 700;
          background: $soft-red;
          cursor: pointer;

          &:hover {
            background-color: $very-dark-blue;
          }
        }
      }
    }
  }

  .side-section {
    background-color: $very-dark-blue;
    padding: 1.5em;
    color: $off-white;

    h1 {
      color: $soft-orange;
    }

    div {
      padding: 2em 0;
      border-bottom: 1px solid $dark-grayish-blue;

      h2 {
        font-size: 1.4rem;
        cursor: pointer;

        &:hover {
          color: $soft-orange;
        }
      }

      p {
        margin-top: 1em;
        line-height: 1.6rem;
        color: $dark-grayish-blue;
      } 
    }

    .diff {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .down-section {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .down-content {
      display: flex;
      gap: 1.5em;

      img {
        width: 6.6rem;
      }

      h2 {
        font-size: 2.3rem;
        color: $grayish-blue;
        margin-bottom: 0.3em;
      }

      p {
        line-height: 1.5rem;
        color: $dark-grayish-blue;
      }

      h3 {
        margin-bottom: .4em;
        cursor: pointer;
        transition: color 0.15s;

        &:hover {
          color: $soft-red;
        }
      }
    }
  }
}

.open-nav {
  transform: translateX(0);
}

@media (min-width: 680px) {

  body {
    padding-inline: 5em;

    header {
      nav {
        box-shadow: rgba(0, 0, 20, 0.5) -325px 0;
      }
    }
  }

}

@media (min-width: 920px) {

  .menu {
    display: none;
  }

  body{

    header {
      margin-bottom: 3em;
      
      nav {
        transform: translateX(0);
        position: unset;
        background: none;
        box-shadow: none;
        height: auto;
        width: auto;

        svg {
          display: none;
        }

        ul{
          display: flex;
          margin: 0;      
        }

        li {

          a {
            color: $dark-grayish-blue;
            font-size: 1rem;
            background: none;
            padding: .8em 1.3em;
            transition: color 0.15s;
            cursor: pointer;
  
            &:hover {
              background: none;
              color: $soft-orange;
            }
          }   
        }
      }   
    }
  }
}

@media (min-width: 1090px) {

  body{

    header {
      margin-bottom: 3em;   
    }
  }

  .container {
    grid-template-columns: 2fr 1fr;
    grid-gap: 3%;
    row-gap: 12%;

    .top-section {

      .image-section {
        background-image: url('assets/images/image-web-3-desktop.jpg');
        background-size: cover;
        background-position: center ;
        background-repeat: no-repeat;
        height: 55%;
        margin-bottom: 3em;
      }
      
      .text-container {
        flex-direction: row;        
        justify-content: space-between;

        .title {
          font-size: 3.5rem;
          width: 45%;
        }

        .sub-title {
          width: 48%;
        }
      }
    }

    .down-section {
      flex-direction: row;
      grid-column: 1 / 3;
      justify-content: space-between;

      .down-content {
        width: 32%;
      }
    }
  }
}